<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>uovo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.6924787437-265u6e37ok5msd19und3uo30ae8v5gek</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>waze</string>
		<string>comgooglemaps</string>
		<string>com.google.maps</string>
		<string>mapsme</string>
		<string>maps.me</string>
		<string>citymapper</string>
		<string>yandexnavi</string>
		<string>tomtomhome</string>
		<string>com.sygic.aura</string>
		<string>yandex</string>
		<string>maps_me</string>
		<string>sygic</string>
		<string>tomtom</string>
		<string>apple_maps</string>
		<string>google_maps</string>
	</array>
  	<!-- 🚨 Keep only the permissions specified in `setup_permissions` 🚨 -->
	<key>NSCameraUsageDescription</key>
	<string>App requiere access to your photo library to allow take a photo to process your request</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App requiere access to your location to allow locate and and estimate the time for your request</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App requiere access to your location to allow locate and and estimate the time for your request</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App requiere access to your location to allow locate and and estimate the time for your request</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Description of why you require the use of the microphone</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App requiere access to your photo library to allow to add a photo id to process your request</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App requiere access to your photo library to allow to add a photo to process your request</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Description of why you require the use of the speech recognition</string>
</dict>
</plist>
